body
{
    background: #3b5a9a;
}
.login h1 a
{
    background: url("../images/logo-pveser.png") no-repeat;
    background-size: 100% 100%;
    height: 100px;
    width: 160px;
}
#login
{
    width: 40%;
    padding-top: 3%;
}
.login form
{
    border-radius: 0px;
}
.login #backtoblog a, .login #nav a
{
    color: #fff;
}
.wp-core-ui .button-group.button-large .button, .wp-core-ui .button.button-large
{
    background: red;
    text-shadow: none;
    border: none;
    box-shadow: none;
}